<form #form="ngForm" (submit)="logForm(form.value)">
  <h3 id="username" (click)="toggle()">{{userName.firstName}} {{ userName.secondName }}</h3>
  <div *ngIf="show">
    <div class="name-input">
      <button (click)="toggle()">X</button>
      <h3>Edit your details</h3>
      <div>
        <h5>first name</h5>
        <input type="text" value="{{userName.firstName}}" placeholder="first name" id="firstNameInput">
      </div>
      <div>
         <h5>last name</h5>
        <input type="text" value="{{userName.secondName}}" placeholder="last name">
      </div>
      <button type="submit" (click)="changeName()" id="name-button">Save New Name</button>
    </div>
  </div>
</form>

