#username {
  cursor: pointer;
  font-size: 25px;
  font-weight: lighter;
}

.profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 160px;
  margin-right: 25px;
}

.title-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
}

.name-input-parent {
  backdrop-filter: blur(1px);
  width: 617px;
  height: 23rem;
  margin-left: -23px;
  margin-top: -143px;
  position: absolute;
}

.name-input {
  z-index: 200;
  position: absolute;
  background-color: #616370;
  top: 9%;
  left: 36%;
  width: 375px;
  height: 13rem;
  padding: 1rem;
  box-shadow: 0 2px 7px black;
}

.exit-btn-and-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 21px;
}

.edit-name-title {
  font-weight: 100;
}


.x-button-name {
  color: white;
  background-color: #616370;
  border-style: none;
  cursor: pointer;
}

.firstName {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15px;
  margin-top: 32px;
}

.secondName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#firstNameInput {
  height: 25px;
  margin-left: 10px;
  background-color: #464650;
  color: white;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

#secondNameInput {
  height: 25px;
  margin-left: 10px;
  background-color: #464650;
  color: white;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

.name-title {
  margin-left: 30px;
  font-weight: 100;
}


#name-button {
  float: right;
  margin-top: 62px;
  margin-right: -5px;
  background-color: #464650;
  color: white;
  border: none;
  height: 25px;
  width: 105px;
  border-radius: 3px;
  cursor: pointer;
}
