#username {
  cursor: pointer;
  font-size: 25px;
  font-weight: lighter;
}

.profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 160px;
  margin-right: 25px;
}

.title-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
}

.name-input-parent {
  backdrop-filter: blur(1px);
  width: 617px;
  height: 23rem;
  margin-left: -23px;
  margin-top: -143px;
  position: absolute;
}

.name-input {
  z-index: 200;
  position: absolute;
  background-color: #616370;
  top: 8%;
  left: 37.5%;
  width: 300px;
  padding: 1rem;
}
