.bio {
  font-size: 13px;
  height: 136px;
  overflow: hidden;
  cursor: pointer;
}

.bio-title {
  font-size: 20px;
  font-weight: lighter;
}

.bio-input-parent {
  backdrop-filter: blur(1px);
  width: 617px;
  height: 23rem;
  margin-left: -23px;
  margin-top: -335px;
  position: absolute;
}

.bio-input {
  z-index: 200;
  position: absolute;
  background-color: #616370;
  top: 16%;
  left: 18%;
  width: 375px;
  height: 13rem;
  padding: 1rem;
  box-shadow: 0 2px 7px black;
}

.exit-button-and-bio-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  margin-bottom: 20px;
}

.edit-bio-title {
  font-weight: 100;
}

.x-button-bio {
  color: white;
  background-color: #616370;
  border-style: none;
  cursor: pointer;
}
