<form #form="ngForm" (submit)="logForm(form.value)" >
  <h3 class="bio-title">My Bio</h3>
  <p class="bio" (click)="toggle()">{{ userInfo.bio }}</p>
  <div *ngIf="show">
    <div class="bio-input-parent">
      <div class="bio-input">
        <div class="exit-button-and-bio-title">
          <h3 class="edit-bio-title">Edit your bio</h3>
          <button class="x-button-bio" (click)="toggle()">X</button>
        </div>
        <textarea cols="30" rows="10" type="text" value={{userInfo.bio}} placeholder="bio" id="bioInput"></textarea>
        <button type="submit" (click)="changeBio()" id="bio-button">Save New Bio</button>
      </div>
    </div>
  </div>
</form>
